/* Style de la modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 700px;
  min-height: 300px;
  overflow: hidden;
  user-select: none;
  box-shadow: 0 0 20px #0000002e;
  background-color: rgba(255, 255, 255);
}

/*  */
.transition {

  transition: transform 0.3s ease;
}

#genre-name,
#close-modal,
#reduce-moda {
  font-family: 'Oswald', sans-serif;
}

#genre-image {
  width: 10vw;
  height: 100%;
  min-height: 300px;
  object-fit: cover;
  user-select: none;
  pointer-events:none;
}

.draggable {
  cursor: move;
}

.modal-content {
  background-color: #fff;
  /* min-height: 50vh; */
}

.modal-ok {
  display: flex;
}

#contentF {
  margin-left: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-weight: bold;
  cursor: pointer;
  margin: 10px;
}

.close:hover {
  color: red;
}


.reduce {
  color: #aaa;
  float: right;
  margin: 10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.reduce:hover {
  color: cornflowerblue;
}

#support {
  width: 100%;
  height: 100vh;
}

body {
  overflow: hidden;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.hide {
  display: none;
}

.bottomleft {
  bottom: 0;
  right: 0;
  position: absolute;
  left: auto !important;
  top: auto !important;
  min-height: auto !important;
  width: auto !important;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL'0,
    'wght'400,
    'GRAD'0,
    'opsz'24
}