@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{scroll-behavior: smooth;}
table{border-collapse: collapse; border-spacing: 0;}

body{
    font-family: sans-serif;
    min-height: 100vh;
    /* ? temp firefox scroll effect disabling */
    position: fixed;
    overflow: hidden;
}

ul{list-style: none;}

a{
   text-decoration: none;
   color: inherit;
}

#support {
    width: 100%;
    height: 100vh;
}
  



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0; top: 0;
    width: 50vw;
    overflow: hidden;
    user-select: none;

    width: 25%;
    height: 100vh;
    padding: 40px 35px;
    box-shadow: 0 0 20px #0000002e;
    background-color: white;
}

.modal img{
    max-width: 100%;
    margin-bottom: 10px;
}

#close-modal>span, #reduce-modal>span{
    font-size: 30px;
}

/* close button */
#close-modal {
    color: #aaa;
    float: right;
    font-weight: bold;
    cursor: pointer;
}

/* reduce button */
#reduce-modal {
    color: #aaa;
    float: right;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
}

#close-modal:hover {color: red;}
#reduce-modal:hover {color: cornflowerblue;}

.modal h2{
    font-family: 'Oswald', sans-serif;
    padding-top: 35px;
    margin-bottom: 20px;
}

#genre-description{margin-bottom: 20px;}
#extrait-into{margin-bottom: 5px;}

#genre-extrait-nom{
    font-weight: bold;
    margin-bottom: 10px;
}


.hide{display: none;}

.bottomleft {
    position: absolute;
    bottom: 0;
    right: 0;
    left: auto;
    top: auto;

    height: auto;
    width: auto;
    padding: 10px 30px;
}




/** ------------------------------------Style searchbar------------------------------------ */


.active {
    transform-origin: top-left;
    transform: translateX(-200px);
    opacity: 0;
    z-index: -100;
    pointer-events:none;
}
  
#search-bar {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  margin: 20px;
  display: flex;
}

#search-content {
  display: flex;
  align-items: center;
  transition: 1s;
  padding: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #0000002e;
  background-color: rgba(255, 255, 255);
}

#search {
  border: none;
  background-color: rgba(255, 255, 255);
}

#search-icon {
  transition: 1s;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  border: none;
  z-index: 5;
  cursor: pointer;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 0 10px #0000002e;
  background-color: rgba(255, 255, 255);
}

#genre-search-dropdown {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

#genre-search-dropdown:focus {
  outline: none;
}